@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Poppins:wght@200&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
    box-sizing: border-box;
    /* font-weight: lighter; */
}

body {
    background-color: #0D1117;
    color: #ffffffab;
    letter-spacing: 1px;
    font-size: 14px;
    --boder-color: #70707015;
    --main-color: #56adffc2;
}

.wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    padding: 60px 30px 0px 90px;
    overflow: hidden;
    transition: .4s;
}

.side-menu.hide~.wrapper {
    padding: 60px 30px 0px 30px;
}

h1 {
    font-weight: bold;
    font-family: 'Montserrat';
}

.link {
    padding: 0px 30px;
    height: 40px;
    width: fit-content;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #21262d79;
    color: #fff;
    font-weight: bold;
    font-size: 12px;
    text-decoration: none;
}

.link:hover {
    background-color: #292c31;
}

table {
    border-collapse: collapse;
    width: 100%;
    border: none;
    margin-bottom: 100px;
}

th:nth-child(1),
th:last-child {
    width: 260px;
}

thead {
    background-color: #1b1f259a;
}

th,
td {
    padding: 10px;
    /* border: 1px solid; */
    border-color: var(--boder-color);
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

th {
    font-weight: bold;
}

th:first-child,
td:first-child {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 250px
}

th:last-child {
    padding-right: 50px;
}

td:nth-child(3),
th:last-child {
    text-align: end;
    /* width: 150px; */
}

td:nth-child(3) {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}


tr:nth-child(even) {
    background-color: #1a192246;
}

.actionbtn {
    background-color: #21262D;
    color: #ffffffab;
    border: none;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    width: 80px;
    height: 38px;
    cursor: pointer;
    border-radius: 6px;
    color: #fff;
}

.actionbtn:hover {
    background-color: #292c31;
}

.actionbtn.danger {
    background-color: #d61717ad;
    width: 40px;
    font-size: 18px;
}

.actionbtn.danger:hover {
    background-color: #ff0101ce;
}

form {
    display: flex;
}

input[type="text"] {
    background-color: #21262da2;
    border: none;
    height: 40px;
    width: 300px;
    padding: 0 15px;
    box-sizing: border-box;
    color: #fff;
    margin-right: 10px;
    border-radius: 8px;
    outline: none;
    letter-spacing: 1px;
    transition: .3s;
    border: 3px solid #232c33c2;
}

input[type="text"]:hover {}

input[type="text"]:focus {
    border-color: var(--main-color);
}

.formbtn {
    padding: 0px 30px;
    height: 40px;
    width: fit-content;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #21262D;
    color: #fff;
    font-weight: bold;
    font-size: 12px;
    text-decoration: none;
    border: none;
    letter-spacing: 1px;
    cursor: pointer;
}

.formbtn:hover {
    background-color: #292c31;
}

.side-menu {
    /* background-color: #0f141b; */
    background-color: transparent;
    height: 100vh;
    width: 70px;
    position: fixed;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    transition: .3s;
    z-index: 10;
}

.side-menu.hide {
    left: -70px;
}

/* Hiding scrollbar for Chrome, Safari and Opera */
.channels::-webkit-scrollbar {
    display: none;
}

/* Hiding scrollbar for IE, Edge and Firefox */
.channels {
    scrollbar-width: none;
    /* Firefox */
    -ms-overflow-style: none;
    /* IE and Edge */
}

.channel {
    background-color: transparent;
    width: 100%;
    aspect-ratio: 1/1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.channel-name {
    position: absolute;
    left: 65px;
    background-color: #131920;
    font-weight: bold;
    padding: 9px 12px;
    border-radius: 10px;
    font-size: 12px;
    opacity: 0;
    visibility: hidden;
    transition: .2s;
    transform: translateX(-20px);
    width: fit-content;
    white-space: nowrap
}

.channel .channel-pp {
    width: 80%;
    background-color: #131920;
    aspect-ratio: 1/1;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .2s;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
}

.channel-pp:hover .channel-name {
    opacity: 1;
    visibility: visible;
    transform: translateX(0px);
    color: #ffffffab;
}

.channel .channel-pp:after {
    content: "";
    width: 4px;
    height: 7px;
    background-color: #fff;
    position: absolute;
    left: -7px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    transition: .4s;
}

.channel-pp h1 {
    font-size: 16px;
    letter-spacing: 1px;
}

.channel-pp svg {
    font-size: 24px;
}

.channel .channel-pp:hover {
    border-radius: 40%;
    color: var(--main-color);
    background-color: #141b22;
}

.channel .channel-pp:hover:after {
    height: 40px;
    background-color: var(--main-color);
}

.channel.nodot .channel-pp::after {
    background-color: transparent;
}


.always-on-top {
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 11;
}

.always-on-top .channel {
    width: 70px;
    aspect-ratio: 1/1;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* Track */
::-webkit-scrollbar {
    width: 12px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background-color: #25292e;
}