@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Poppins:wght@200&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
    box-sizing: border-box;
    /* font-weight: lighter; */
}

body {
    background-color: #0D1117;
    color: #ffffffab;
    letter-spacing: 1px;
    font-size: 14px;
    --boder-color: #70707015;
    --main-color: #56adffc2;
}

.wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
    width: 100%;
    padding: 70px 80px 30px;
    overflow: hidden;
    transition: .4s;
}


h1 {
    font-weight: bold;
    font-family: 'Montserrat';
}

.link {
    padding: 0px 30px;
    height: 40px;
    width: fit-content;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #21262d79;
    color: #fff;
    font-weight: bold;
    font-size: 12px;
    text-decoration: none;
}

.link:hover {
    background-color: #292c31;
}

table {
    border-collapse: collapse;
    width: 100%;
    border: none;
}

th:nth-child(1),
th:last-child {
    width: 260px;
}

thead {
    background-color: #1b1f259a;
}

th,
td {
    padding: 10px;
    /* border: 1px solid; */
    border-color: var(--boder-color);
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

th {
    font-weight: bold;
}

th:first-child,
td:first-child {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 250px
}

th:last-child {
    padding-right: 50px;
}

td:nth-child(3),
th:last-child {
    text-align: end;
    /* width: 150px; */
}

td:nth-child(3) {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}


tr:nth-child(even) {
    background-color: #1a192246;
}

.actionbtn {
    background-color: #21262D;
    color: #ffffffab;
    border: none;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    width: 80px;
    height: 38px;
    cursor: pointer;
    border-radius: 6px;
    color: #fff;
}

.actionbtn:hover {
    background-color: #292c31;
}

.actionbtn.danger {
    background-color: #d61717ad;
    width: 40px;
    font-size: 18px;
}

.actionbtn.danger:hover {
    background-color: #ff0101ce;
}

form {
    display: flex;
}

input[type="text"] {
    background-color: #21262da2;
    border: none;
    height: 40px;
    width: 300px;
    padding: 0 15px;
    box-sizing: border-box;
    color: #fff;
    margin-right: 10px;
    border-radius: 8px;
    outline: none;
    letter-spacing: 1px;
    transition: .3s;
    border: 3px solid #232c33c2;
}

input[type="text"]:hover {}

input[type="text"]:focus {
    border-color: var(--main-color);
}

.formbtn {
    padding: 0px 30px;
    height: 40px;
    width: fit-content;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #21262D;
    color: #fff;
    font-weight: bold;
    font-size: 12px;
    text-decoration: none;
    border: none;
    letter-spacing: 1px;
    cursor: pointer;
}

.formbtn:hover {
    background-color: #292c31;
}


/* Track */
::-webkit-scrollbar {
    width: 12px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background-color: #25292e;
}
::-webkit-scrollbar-thumb:hover {
    background-color: #3b3d41;
}